body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.text {
    color: white;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

.header-part {
    background-image: url(images/donation13.jpg);
    height: 780px;
    width: auto;
    margin-top: -35px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    height: 400px;
    padding: 20px 20px 50px 20px;
    border-radius: 20px;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 22px;
    background-image: linear-gradient(120deg, #0c427a, #21A875);
    padding: 20px 15px;
    border-radius: 15px;
}

.section {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#other-amount-part {
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-left: 15px;
}

#other-amount-part p {
    text-align: center;
}

.header-text p {
    margin-bottom: 50px;
}

.amount {
    background-color: rgba(128, 128, 128, 0.081);
    color: rgb(38, 36, 36);
    height: 120px;
    width: 150px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.amount-part {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#unique-amount {
    background-color: #16727731;
    border: 5px solid #167277;
    color: #167277;
}

.center-align {
    text-align: center;

}

.p-text {
    color: gray;
    font-size: 18px;
}

.single-donate-plan {
    height: 300px;
    width: 350px;
    padding: 70px 20px 0 20px;
    margin-left: 25px;
    border-radius: 15px;
}

.donate-plan {
    display: flex;
    justify-content: center;
    margin: 40px 0 0;
}

#food-card {
    background-color: #21a87416;
}

#shelter-card {
    background-color: #16727719;
}

#education-card {
    background-color: #21a87418;
}

#form {
    height: 200px;
    width: 900px;
    background-color: #16727731;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 60px;
}

.form-button {
    font-size: 25px;
    font-weight: 700;
    padding: 15px;
    border-radius: 15px;
    border: 0;
}

#subscribe {
    background-image: linear-gradient(120deg, #0c427a, #21A875);
    color: white;
}

.footer {
    font-family: 'Great Vibes', cursive;
    height: 200px;
    background-image: linear-gradient(12deg, #0c427a, #21A875);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.why-us-card {
    font-family: 'Great Vibes', cursive;
    background-image: linear-gradient(120deg, #0c417ab4, #21a874b9);
    box-shadow: 20px 20px 40px 10px #0c417a82;
    width: 400px;
    height: 350px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

#why-us-div {
    display: flex;
    justify-content: center;
    align-items: center;
}